{"openapi":"3.0.0","info":{"title":"Lottery Recommendation API","version":"1.0.0","description":"AI-powered lottery number recommendation service with TypeScript and Clean Architecture"},"servers":[{"url":"https://api.ai645.com","description":"Production server"}],"tags":[{"name":"Authentication","description":"소셜 로그인 및 인증 관련 API"},{"name":"Recommendations","description":"로또 번호 추천 관련 API"},{"name":"Image Processing","description":"이미지 처리 관련 API"},{"name":"Reviews","description":"추천 회고 분석 관련 API"},{"name":"Data","description":"데이터 조회 관련 API"},{"name":"Payment","description":"결제 관련 API"}],"components":{"securitySchemes":{"bearerAuth":{"type":"http","scheme":"bearer","bearerFormat":"JWT","description":"JWT 액세스 토큰을 Bearer 형식으로 전달"}},"schemas":{"ErrorResponse":{"type":"object","properties":{"success":{"type":"boolean","example":false},"error":{"type":"string","example":"에러 메시지"},"message":{"type":"string","example":"상세 설명","nullable":true},"data":{"type":"object","nullable":true},"timestamp":{"type":"string","format":"date-time","example":"2025-06-23T12:00:00.000Z"}},"required":["success","error","timestamp"]},"LoginResponse":{"type":"object","properties":{"success":{"type":"boolean","example":true},"data":{"type":"object","properties":{"accessToken":{"type":"string","description":"JWT 액세스 토큰"},"user":{"type":"object","properties":{"id":{"type":"string"},"nickname":{"type":"string"}}},"expiresIn":{"type":"integer","description":"토큰 만료 시간 (초)"}}},"message":{"type":"string","example":"로그인이 완료되었습니다."}}}}},"paths":{"/api/admin/users":{"get":{"summary":"전체 사용자 목록 조회 (관리자 전용)","tags":["Admin"],"security":[{"bearerAuth":[]}],"parameters":[{"in":"query","name":"page","schema":{"type":"integer","default":1},"description":"페이지 번호"},{"in":"query","name":"limit","schema":{"type":"integer","default":20},"description":"페이지당 항목 수"}],"responses":{"200":{"description":"사용자 목록 조회 성공","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean"},"data":{"type":"object","properties":{"users":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"nickname":{"type":"string"},"role":{"type":"string","enum":["USER","ADMIN"]},"createdAt":{"type":"string","format":"date-time"},"authType":{"type":"string","enum":["KAKAO","GOOGLE","NAVER"]},"hasActiveSubscription":{"type":"boolean"},"subscriptionEndDate":{"type":"string","format":"date-time"},"recommendationCount":{"type":"integer"},"paymentCount":{"type":"integer"}}}},"pagination":{"type":"object","properties":{"page":{"type":"integer"},"limit":{"type":"integer"},"total":{"type":"integer"},"totalPages":{"type":"integer"},"hasNext":{"type":"boolean"},"hasPrev":{"type":"boolean"}}}}}}}}}},"401":{"description":"인증 실패"},"403":{"description":"관리자 권한 없음"}}}},"/api/admin/users/{userId}/role":{"put":{"summary":"사용자 역할 변경 (관리자 전용)","tags":["Admin"],"security":[{"bearerAuth":[]}],"parameters":[{"in":"path","name":"userId","required":true,"schema":{"type":"string"},"description":"사용자 ID"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["role"],"properties":{"role":{"type":"string","enum":["USER","ADMIN"],"description":"변경할 역할"}}}}}},"responses":{"200":{"description":"역할 변경 성공"},"400":{"description":"유효하지 않은 역할"},"401":{"description":"인증 실패"},"403":{"description":"관리자 권한 없음"},"404":{"description":"사용자를 찾을 수 없음"}}}},"/api/admin/stats/api":{"get":{"summary":"API 사용 통계 조회 (관리자 전용)","tags":["Admin"],"security":[{"bearerAuth":[]}],"parameters":[{"in":"query","name":"startDate","schema":{"type":"string","format":"date"},"description":"시작 날짜 (기본값: 30일 전)"},{"in":"query","name":"endDate","schema":{"type":"string","format":"date"},"description":"종료 날짜 (기본값: 오늘)"}],"responses":{"200":{"description":"API 통계 조회 성공","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean"},"data":{"type":"object","properties":{"period":{"type":"object","properties":{"startDate":{"type":"string","format":"date-time"},"endDate":{"type":"string","format":"date-time"}}},"overview":{"type":"object","properties":{"totalRequests":{"type":"integer"},"successCount":{"type":"integer"},"failureCount":{"type":"integer"},"successRate":{"type":"string"},"totalCost":{"type":"number"}}},"endpointStats":{"type":"array","items":{"type":"object","properties":{"endpoint":{"type":"string"},"requestCount":{"type":"integer"},"totalTokens":{"type":"integer"},"totalCost":{"type":"number"}}}},"modelStats":{"type":"array","items":{"type":"object","properties":{"model":{"type":"string"},"requestCount":{"type":"integer"},"totalTokens":{"type":"integer"},"totalCost":{"type":"number"}}}}}}}}}}},"401":{"description":"인증 실패"},"403":{"description":"관리자 권한 없음"}}}},"/api/admin/status":{"get":{"summary":"시스템 상태 조회 (관리자 전용)","tags":["Admin"],"security":[{"bearerAuth":[]}],"responses":{"200":{"description":"시스템 상태 조회 성공","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean"},"data":{"type":"object","properties":{"users":{"type":"object","properties":{"total":{"type":"integer"},"activeSubscriptions":{"type":"integer"}}},"recommendations":{"type":"object","properties":{"total":{"type":"integer"},"today":{"type":"integer"}}},"payments":{"type":"object","properties":{"total":{"type":"integer"},"completed":{"type":"integer"},"completionRate":{"type":"string"}}},"system":{"type":"object","properties":{"databaseSize":{"type":"string"},"uptime":{"type":"number"},"memoryUsage":{"type":"object"}}}}}}}}}},"401":{"description":"인증 실패"},"403":{"description":"관리자 권한 없음"}}}},"/api/auth/profile":{"get":{"operationId":"getUserProfile","summary":"사용자 프로필 조회","description":"현재 로그인한 사용자의 정보를 조회합니다.","tags":["Authentication"],"security":[{"bearerAuth":[]}],"responses":{"200":{"description":"프로필 조회 성공","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","example":true},"data":{"type":"object","properties":{"id":{"type":"string"},"nickname":{"type":"string"},"role":{"type":"string","enum":["USER","ADMIN"],"description":"사용자 역할"},"termsAgreed":{"type":"boolean","description":"이용약관 동의 여부"},"privacyAgreed":{"type":"boolean","description":"개인정보 수집·이용 동의 여부"},"marketingAgreed":{"type":"boolean","description":"마케팅 정보 수신 동의 여부"},"authType":{"type":"string","description":"주요 소셜 인증 타입"},"socialAccounts":{"type":"array","items":{"type":"object","properties":{"provider":{"type":"string"},"providerUid":{"type":"string"},"connectedAt":{"type":"string","format":"date-time"}}}},"createdAt":{"type":"string","format":"date-time"}}},"message":{"type":"string","example":"사용자 정보를 조회했습니다."}}}}}},"401":{"description":"인증 필요"},"404":{"description":"사용자를 찾을 수 없음"}}}},"/api/auth/refresh":{"post":{"operationId":"refreshToken","summary":"토큰 갱신","description":"리프레시 토큰을 사용하여 새로운 액세스 토큰을 발급합니다.","tags":["Authentication"],"security":[{"bearerAuth":[]}],"responses":{"200":{"description":"토큰 갱신 성공","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","example":true},"data":{"type":"object","properties":{"accessToken":{"type":"string","description":"새로운 JWT 액세스 토큰"},"user":{"type":"object","properties":{"id":{"type":"string"},"nickname":{"type":"string"}}},"expiresIn":{"type":"integer","description":"토큰 만료 시간 (초)"}}},"message":{"type":"string","example":"토큰이 갱신되었습니다."}}}}}},"401":{"description":"토큰 갱신 실패","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","example":false},"errorCode":{"type":"string","enum":["MISSING_AUTHORIZATION_HEADER","EMPTY_ACCESS_TOKEN","TOKEN_EXPIRED","TOKEN_MALFORMED","TOKEN_SIGNATURE_INVALID","TOKEN_INVALID","USER_NOT_FOUND","REFRESH_TOKEN_ERROR"],"description":"에러 코드"},"error":{"type":"string","description":"에러 메시지"},"message":{"type":"string","example":"다시 로그인해주세요."}}}}}}}}},"/api/auth/logout":{"post":{"operationId":"logout","summary":"로그아웃","description":"현재 세션을 종료하고 토큰을 무효화합니다.","tags":["Authentication"],"security":[{"bearerAuth":[]}],"responses":{"200":{"description":"로그아웃 성공","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","example":true},"message":{"type":"string","example":"로그아웃이 완료되었습니다."}}}}}},"401":{"description":"인증 필요"}}}},"/api/auth/temp-register":{"post":{"operationId":"createTempAccount","summary":"임시 계정 생성 (결제 심사용)","description":"결제 심사를 위한 임시 ID/비밀번호 계정을 생성합니다.","tags":["Authentication"],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["email","password","nickname"],"properties":{"email":{"type":"string","format":"email","example":"test@example.com","description":"로그인용 이메일"},"password":{"type":"string","minLength":6,"example":"password123","description":"로그인용 비밀번호"},"nickname":{"type":"string","minLength":2,"maxLength":40,"example":"테스터","description":"사용자 닉네임"}}}}}},"responses":{"201":{"description":"계정 생성 성공","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","example":true},"data":{"type":"object","properties":{"id":{"type":"string","example":"user_123"},"email":{"type":"string","example":"test@example.com"},"nickname":{"type":"string","example":"테스터"}}},"message":{"type":"string","example":"임시 계정이 생성되었습니다."}}}}}},"400":{"description":"필수 정보 누락"},"409":{"description":"이메일 중복"}}}},"/api/auth/temp-login":{"post":{"operationId":"loginWithPassword","summary":"ID/비밀번호 로그인 (결제 심사용)","description":"이메일과 비밀번호로 로그인합니다.","tags":["Authentication"],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["email","password"],"properties":{"email":{"type":"string","format":"email","example":"test@example.com","description":"로그인용 이메일"},"password":{"type":"string","example":"password123","description":"로그인용 비밀번호"}}}}}},"responses":{"200":{"description":"로그인 성공","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","example":true},"data":{"type":"object","properties":{"accessToken":{"type":"string","example":"eyJ0eXAiOiJKV1Q..."},"refreshToken":{"type":"string","example":"eyJ0eXAiOiJKV1Q..."},"user":{"type":"object","properties":{"id":{"type":"string","example":"user_123"},"email":{"type":"string","example":"test@example.com"},"nickname":{"type":"string","example":"테스터"},"role":{"type":"string","example":"USER"}}}}},"message":{"type":"string","example":"로그인에 성공했습니다."}}}}}},"400":{"description":"필수 정보 누락"},"401":{"description":"인증 실패"}}}},"/api/auth/account":{"delete":{"operationId":"deleteAccount","summary":"계정 탈퇴","description":"사용자 계정을 완전히 삭제합니다.","tags":["Authentication"],"security":[{"bearerAuth":[]}],"responses":{"200":{"description":"계정 삭제 성공","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","example":true},"message":{"type":"string","example":"계정이 삭제되었습니다."}}}}}},"401":{"description":"인증 필요"},"500":{"description":"서버 오류"}}}},"/api/auth/consent":{"post":{"operationId":"updateConsent","summary":"동의항목 업데이트","description":"사용자의 동의항목을 업데이트합니다.","tags":["Authentication"],"security":[{"bearerAuth":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["termsAgreed","privacyAgreed"],"properties":{"termsAgreed":{"type":"boolean","description":"이용약관 동의 (필수)","example":true},"privacyAgreed":{"type":"boolean","description":"개인정보 수집·이용 동의 (필수)","example":true},"marketingAgreed":{"type":"boolean","description":"광고·이벤트 수신 동의 (선택)","example":false}}}}}},"responses":{"200":{"description":"동의항목 업데이트 성공","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","example":true},"data":{"type":"object","properties":{"user":{"type":"object","properties":{"id":{"type":"string"},"nickname":{"type":"string"},"role":{"type":"string","enum":["USER","ADMIN"]},"termsAgreed":{"type":"boolean"},"privacyAgreed":{"type":"boolean"},"marketingAgreed":{"type":"boolean"},"createdAt":{"type":"string","format":"date-time"}}}}},"message":{"type":"string","example":"동의항목이 업데이트되었습니다."}}}}}},"400":{"description":"필수 동의항목 누락","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","example":false},"error":{"type":"string","example":"필수 동의항목에 동의해야 합니다."},"message":{"type":"string","example":"이용약관과 개인정보 수집·이용에 동의해주세요."}}}}}},"401":{"description":"인증 필요"},"500":{"description":"서버 오류"}}}},"/api/auth/{provider}":{"get":{"operationId":"startSocialLogin","summary":"소셜 로그인 시작","description":"카카오, 구글, 네이버 소셜 로그인을 시작합니다.","tags":["Authentication"],"parameters":[{"in":"path","name":"provider","required":true,"schema":{"type":"string","enum":["kakao","google","naver"]},"description":"소셜 로그인 제공자"}],"responses":{"302":{"description":"소셜 로그인 페이지로 리다이렉트"}}}},"/api/auth/{provider}/callback":{"get":{"summary":"소셜 로그인 콜백","description":"소셜 로그인 완료 후 JWT 토큰을 발급합니다.","tags":["Authentication"],"parameters":[{"in":"path","name":"provider","required":true,"schema":{"type":"string","enum":["kakao","google","naver"]},"description":"소셜 로그인 제공자"}],"responses":{"200":{"description":"로그인 성공","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","example":true},"data":{"type":"object","properties":{"accessToken":{"type":"string","description":"JWT 액세스 토큰"},"user":{"type":"object","properties":{"id":{"type":"string"},"nickname":{"type":"string"}}},"expiresIn":{"type":"integer","description":"토큰 만료 시간 (초)"}}},"message":{"type":"string","example":"로그인이 완료되었습니다."}}}}}},"401":{"description":"로그인 실패"},"500":{"description":"서버 오류"}}}},"/api/board/{category}":{"get":{"operationId":"getBoardPosts","summary":"게시글 목록 조회","tags":["Board"],"security":[{"bearerAuth":[]}],"parameters":[{"in":"path","name":"category","required":true,"schema":{"type":"string","enum":["NOTICE","SUGGESTION","PARTNERSHIP"]},"description":"게시판 카테고리"},{"in":"query","name":"page","schema":{"type":"integer","default":1},"description":"페이지 번호"},{"in":"query","name":"limit","schema":{"type":"integer","default":20},"description":"페이지당 항목 수"}],"responses":{"200":{"description":"게시글 목록 조회 성공","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean"},"data":{"type":"object","properties":{"posts":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"category":{"type":"string"},"title":{"type":"string"},"authorName":{"type":"string"},"isImportant":{"type":"boolean"},"viewCount":{"type":"integer"},"createdAt":{"type":"string","format":"date-time"}}}},"pagination":{"type":"object","properties":{"page":{"type":"integer"},"limit":{"type":"integer"},"total":{"type":"integer"},"totalPages":{"type":"integer"},"hasNext":{"type":"boolean"},"hasPrev":{"type":"boolean"}}}}}}}}}},"400":{"description":"유효하지 않은 카테고리"},"401":{"description":"인증 필요 (선택사항 - 토큰이 있으면 개인화된 데이터 제공)"}}},"post":{"operationId":"createBoardPost","summary":"게시글 생성","tags":["Board"],"security":[{"bearerAuth":[]}],"parameters":[{"in":"path","name":"category","required":true,"schema":{"type":"string","enum":["NOTICE","SUGGESTION","PARTNERSHIP"]},"description":"게시판 카테고리"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["title","content","authorName"],"properties":{"title":{"type":"string","maxLength":200,"description":"게시글 제목"},"content":{"type":"string","maxLength":10000,"description":"게시글 내용"},"authorName":{"type":"string","maxLength":40,"description":"작성자 이름 (모든 카테고리에서 필수)"},"isImportant":{"type":"boolean","default":false,"description":"중요공지 여부"}}}}}},"responses":{"201":{"description":"게시글 생성 성공"},"400":{"description":"유효하지 않은 입력"},"401":{"description":"인증 필요"}}}},"/api/board/post/{id}":{"get":{"operationId":"getBoardPost","summary":"게시글 조회 (단일)","tags":["Board"],"parameters":[{"in":"path","name":"id","required":true,"schema":{"type":"string"},"description":"게시글 ID"}],"responses":{"200":{"description":"게시글 조회 성공","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean"},"data":{"type":"object","properties":{"id":{"type":"string"},"category":{"type":"string"},"title":{"type":"string"},"content":{"type":"string"},"authorName":{"type":"string"},"authorId":{"type":"string"},"isImportant":{"type":"boolean"},"viewCount":{"type":"integer"},"createdAt":{"type":"string","format":"date-time"},"updatedAt":{"type":"string","format":"date-time"}}}}}}}},"404":{"description":"게시글을 찾을 수 없음"}}},"put":{"operationId":"updateBoardPost","summary":"게시글 수정","tags":["Board"],"security":[{"bearerAuth":[]}],"parameters":[{"in":"path","name":"id","required":true,"schema":{"type":"string"},"description":"게시글 ID"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"title":{"type":"string","maxLength":200,"description":"게시글 제목"},"content":{"type":"string","maxLength":10000,"description":"게시글 내용"},"isImportant":{"type":"boolean","description":"중요공지 여부"}}}}}},"responses":{"200":{"description":"게시글 수정 성공"},"400":{"description":"유효하지 않은 입력 또는 권한 없음"},"401":{"description":"인증 필요"},"404":{"description":"게시글을 찾을 수 없음"}}},"delete":{"operationId":"deleteBoardPost","summary":"게시글 삭제","tags":["Board"],"security":[{"bearerAuth":[]}],"parameters":[{"in":"path","name":"id","required":true,"schema":{"type":"string"},"description":"게시글 ID"}],"responses":{"200":{"description":"게시글 삭제 성공"},"400":{"description":"권한 없음"},"401":{"description":"인증 필요"},"404":{"description":"게시글을 찾을 수 없음"}}}},"/api/board/my":{"get":{"operationId":"getMyBoardPosts","summary":"내가 작성한 게시글 목록 조회","tags":["Board"],"security":[{"bearerAuth":[]}],"parameters":[{"in":"query","name":"page","schema":{"type":"integer","default":1},"description":"페이지 번호"},{"in":"query","name":"limit","schema":{"type":"integer","default":20},"description":"페이지당 항목 수"}],"responses":{"200":{"description":"내 게시글 목록 조회 성공","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean"},"data":{"type":"object","properties":{"posts":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"category":{"type":"string"},"title":{"type":"string"},"content":{"type":"string"},"authorName":{"type":"string"},"authorId":{"type":"string"},"isImportant":{"type":"boolean"},"viewCount":{"type":"integer"},"createdAt":{"type":"string","format":"date-time"},"updatedAt":{"type":"string","format":"date-time"}}}},"pagination":{"type":"object","properties":{"page":{"type":"integer"},"limit":{"type":"integer"},"total":{"type":"integer"},"totalPages":{"type":"integer"},"hasNext":{"type":"boolean"},"hasPrev":{"type":"boolean"}}}}}}}}}},"401":{"description":"인증 필요"}}}},"/api/data/dev/reset-ip-limits":{"post":{"summary":"IP 제한 초기화 (개발용)","description":"모든 IP 제한 기록을 초기화합니다. 개발 환경에서만 사용 가능합니다.","tags":["Data"],"responses":{"200":{"description":"초기화 성공","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","example":true},"message":{"type":"string","example":"모든 IP 제한이 초기화되었습니다."},"timestamp":{"type":"string","format":"date-time"}}}}}},"403":{"description":"개발 환경에서만 사용 가능","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","example":false},"error":{"type":"string","example":"개발 환경에서만 사용 가능합니다."},"timestamp":{"type":"string","format":"date-time"}}}}}}}}},"/api/data/recommendations/{id}":{"get":{"summary":"특정 추천 조회","description":"ID로 특정 추천 내역 조회","tags":["Data"],"parameters":[{"in":"path","name":"id","required":true,"schema":{"type":"string"},"description":"추천 ID"}],"responses":{"200":{"description":"조회 성공","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","example":true},"data":{"type":"object","properties":{"id":{"type":"string","example":"rec_abc123","description":"추천 ID"},"type":{"type":"string","enum":["FREE","PREMIUM"],"example":"PREMIUM","description":"추천 타입"},"round":{"type":"integer","example":1150,"description":"대상 회차"},"numbers":{"type":"array","items":{"type":"array","items":{"type":"integer"}},"example":[[1,7,14,21,28,35],[3,12,19,26,33,40]],"description":"추천된 번호 세트들"},"conditions":{"type":"object","description":"사용자 조건 (선택사항)"},"imageData":{"type":"object","description":"이미지 분석 결과 (선택사항)"},"winningNumbers":{"type":"object","nullable":true,"description":"해당 회차의 당첨번호 정보","properties":{"id":{"type":"string","example":"win_abc123","description":"당첨번호 레코드 ID"},"round":{"type":"integer","example":1150,"description":"회차"},"numbers":{"type":"array","items":{"type":"integer","minimum":1,"maximum":45},"example":[1,7,14,21,28,35],"description":"당첨번호"},"bonusNumber":{"type":"integer","example":42,"description":"보너스 번호"},"firstWinningAmount":{"type":"string","example":"2000000000","description":"1등 당첨금"},"drawDate":{"type":"string","format":"date-time","example":"2025-06-21T00:00:00.000Z","description":"추첨일"},"createdAt":{"type":"string","format":"date-time","example":"2025-06-23T07:45:28.502Z"}}}}},"timestamp":{"type":"string","format":"date-time"}}}}}},"404":{"description":"추천을 찾을 수 없음","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","example":false},"error":{"type":"string","example":"추천 내역을 찾을 수 없습니다."},"timestamp":{"type":"string","format":"date-time"}}}}}},"429":{"description":"요청 한도 초과","headers":{"X-RateLimit-Limit":{"schema":{"type":"string","example":"60"},"description":"최대 허용 요청 수"},"X-RateLimit-Remaining":{"schema":{"type":"string","example":"0"},"description":"남은 요청 수"},"X-RateLimit-Reset":{"schema":{"type":"string","format":"date-time","example":"2025-06-24T00:00:00.000Z"},"description":"다음 요청 가능 시간"}},"content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","example":false},"error":{"type":"string","example":"데이터 조회 요청 한도를 초과했습니다."},"timestamp":{"type":"string","format":"date-time"}}}}}}}}},"/api/data/recommendations/my":{"get":{"summary":"내 추천 이력 조회","description":"로그인한 사용자의 추천 이력을 조회합니다.","tags":["Data"],"security":[{"bearerAuth":[]}],"parameters":[{"in":"query","name":"page","schema":{"type":"integer","minimum":1,"default":1},"description":"페이지 번호"},{"in":"query","name":"limit","schema":{"type":"integer","minimum":1,"maximum":50,"default":10},"description":"페이지 크기"},{"in":"query","name":"type","schema":{"type":"string","enum":["FREE","PREMIUM"]},"description":"추천 타입 필터"}],"responses":{"200":{"description":"조회 성공","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","example":true},"data":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","example":"rec_abc123","description":"추천 ID"},"type":{"type":"string","enum":["FREE","PREMIUM"],"example":"PREMIUM","description":"추천 타입"},"round":{"type":"integer","example":1150,"description":"대상 회차"},"numbers":{"type":"array","items":{"type":"array","items":{"type":"integer"}}},"example":[[1,7,14,21,28,35],[3,12,19,26,33,40]],"description":"추천된 번호 세트들","conditions":{"type":"object","description":"사용자 조건 (선택사항)"},"imageData":{"type":"object","description":"이미지 분석 결과 (선택사항)"},"winningNumbers":{"type":"object","nullable":true,"description":"해당 회차의 당첨번호 정보"},"winStatus":{"type":"string","enum":["WIN","LOSE","PENDING"],"description":"당첨상태"},"matchCounts":{"type":"array","items":{"type":"integer"},"description":"각 세트별 맞은 개수"},"maxMatchCount":{"type":"integer","description":"최대 맞은 개수"},"bestRank":{"type":"integer","description":"최고 등수"},"createdAt":{"type":"string","format":"date-time","description":"생성일"}}}},"pagination":{"type":"object","properties":{"page":{"type":"integer","example":1,"description":"현재 페이지"},"limit":{"type":"integer","example":10,"description":"페이지 크기"},"total":{"type":"integer","example":25,"description":"전체 데이터 수"},"totalPages":{"type":"integer","example":3,"description":"전체 페이지 수"}}},"message":{"type":"string","example":"내 추천 이력 10개를 조회했습니다."},"timestamp":{"type":"string","format":"date-time"}}}}}},"401":{"description":"인증 필요","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","example":false},"error":{"type":"string","example":"로그인이 필요합니다."},"timestamp":{"type":"string","format":"date-time"}}}}}},"429":{"description":"요청 한도 초과","headers":{"X-RateLimit-Limit":{"schema":{"type":"string","example":"60"},"description":"최대 허용 요청 수"},"X-RateLimit-Remaining":{"schema":{"type":"string","example":"0"},"description":"남은 요청 수"},"X-RateLimit-Reset":{"schema":{"type":"string","format":"date-time","example":"2025-06-24T00:00:00.000Z"},"description":"다음 요청 가능 시간"}},"content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","example":false},"error":{"type":"string","example":"데이터 조회 요청 한도를 초과했습니다."},"timestamp":{"type":"string","format":"date-time"}}}}}}}}},"/api/data/recommendations":{"get":{"summary":"추천 목록 조회 (통합 API)","description":"파라미터로 다양한 조회 조건을 지원하는 통합 API","tags":["Data"],"parameters":[{"in":"query","name":"page","schema":{"type":"integer","minimum":1,"default":1},"description":"페이지 번호"},{"in":"query","name":"limit","schema":{"type":"integer","minimum":1,"maximum":100,"default":10},"description":"페이지 크기"},{"in":"query","name":"type","schema":{"type":"string","enum":["FREE","PREMIUM"]},"description":"추천 타입 필터"},{"in":"query","name":"winStatus","schema":{"type":"string","enum":["WIN","LOSE","PENDING"]},"description":"당첨상태 필터 (WIN: 당첨, LOSE: 미당첨, PENDING: 미추첨)"},{"in":"query","name":"round","schema":{"type":"integer","minimum":1,"maximum":9999},"description":"특정 회차 조회 (지정 시 페이지네이션 무시)"},{"in":"query","name":"recent","schema":{"type":"boolean","default":false},"description":"최근 추천 조회 (true 시 페이지네이션 무시, 최대 50개)"}],"responses":{"200":{"description":"조회 성공","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","example":true},"data":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","example":"rec_abc123"},"type":{"type":"string","enum":["FREE","PREMIUM"],"example":"PREMIUM"},"round":{"type":"integer","example":1150},"numbers":{"type":"array","items":{"type":"array","items":{"type":"integer"}},"example":[[1,7,14,21,28,35],[3,12,19,26,33,40]],"description":"추천된 번호 세트들"},"conditions":{"type":"object","description":"사용자 조건"},"imageData":{"type":"object","description":"이미지 분석 결과"},"winningNumbers":{"type":"object","nullable":true,"description":"해당 회차의 당첨번호 정보","properties":{"id":{"type":"string","example":"win_abc123"},"round":{"type":"integer","example":1150},"numbers":{"type":"array","items":{"type":"integer"},"example":[1,7,14,21,28,35],"description":"당첨번호"},"bonusNumber":{"type":"integer","example":42,"description":"보너스 번호"},"firstWinningAmount":{"type":"string","example":"2000000000","description":"1등 당첨금"},"drawDate":{"type":"string","format":"date-time","example":"2025-06-21T00:00:00.000Z","description":"추첨일"}}},"winStatus":{"type":"string","enum":["WIN","LOSE","PENDING"],"example":"WIN","description":"당첨상태 (WIN: 당첨, LOSE: 미당첨, PENDING: 미추첨)"},"matchCounts":{"type":"array","items":{"type":"integer"},"example":[3,1,2,0,1],"description":"각 세트별 맞은 번호 개수"},"maxMatchCount":{"type":"integer","example":3,"description":"최대 맞은 번호 개수"},"bestRank":{"type":"integer","nullable":true,"example":5,"description":"최고 등수 (1-5등, null: 미당첨)"},"createdAt":{"type":"string","format":"date-time"}}}},"message":{"type":"string","example":"추천 목록 조회가 완료되었습니다."},"timestamp":{"type":"string","format":"date-time"}}}}}},"429":{"description":"요청 한도 초과","headers":{"X-RateLimit-Limit":{"schema":{"type":"string","example":"60"},"description":"최대 허용 요청 수"},"X-RateLimit-Remaining":{"schema":{"type":"string","example":"0"},"description":"남은 요청 수"},"X-RateLimit-Reset":{"schema":{"type":"string","format":"date-time","example":"2025-06-24T00:00:00.000Z"},"description":"다음 요청 가능 시간"}},"content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","example":false},"error":{"type":"string","example":"데이터 조회 요청 한도를 초과했습니다."},"timestamp":{"type":"string","format":"date-time"}}}}}}}}},"/api/data/winning-numbers/latest":{"get":{"summary":"최신 당첨번호 조회","description":"가장 최근 당첨번호 조회","tags":["Data"],"responses":{"200":{"description":"조회 성공","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","example":true},"data":{"type":"object","properties":{"id":{"type":"string","example":"win_abc123","description":"당첨번호 ID"},"round":{"type":"integer","example":1150,"description":"회차"},"numbers":{"type":"array","items":{"type":"integer","minimum":1,"maximum":45},"minItems":6,"maxItems":6,"example":[1,7,14,21,28,35],"description":"당첨번호 (보너스번호 제외)"},"bonusNumber":{"type":"integer","example":21,"description":"보너스 추첨번호"},"firstWinningAmount":{"type":"integer","example":4576672000,"description":"1등 당첨금(원)"},"drawDate":{"type":"string","format":"date-time","example":"2025-06-21T20:00:00.000Z"},"createdAt":{"type":"string","format":"date-time","example":"2025-06-21T20:30:00.000Z"}}},"message":{"type":"string","example":"최신 당첨번호입니다."},"timestamp":{"type":"string","format":"date-time"}}}}}},"404":{"description":"당첨번호 데이터가 없음","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","example":false},"error":{"type":"string","example":"당첨번호 데이터가 없습니다."},"timestamp":{"type":"string","format":"date-time"}}}}}},"429":{"description":"요청 한도 초과","headers":{"X-RateLimit-Limit":{"schema":{"type":"string","example":"60"},"description":"최대 허용 요청 수"},"X-RateLimit-Remaining":{"schema":{"type":"string","example":"0"},"description":"남은 요청 수"},"X-RateLimit-Reset":{"schema":{"type":"string","format":"date-time","example":"2025-06-24T00:00:00.000Z"},"description":"다음 요청 가능 시간"}},"content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","example":false},"error":{"type":"string","example":"데이터 조회 요청 한도를 초과했습니다."},"timestamp":{"type":"string","format":"date-time"}}}}}}}}},"/api/data/winning-numbers/round/{round}":{"get":{"summary":"회차별 당첨번호 조회","description":"특정 회차의 당첨번호 조회","tags":["Data"],"parameters":[{"in":"path","name":"round","required":true,"schema":{"type":"integer","minimum":1,"maximum":9999},"description":"회차 번호"}],"responses":{"200":{"description":"조회 성공","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","example":true},"data":{"type":"object","properties":{"id":{"type":"string","example":"win_abc123","description":"당첨번호 ID"},"round":{"type":"integer","example":1150,"description":"회차"},"numbers":{"type":"array","items":{"type":"integer","minimum":1,"maximum":45},"minItems":6,"maxItems":6,"example":[1,7,14,21,28,35],"description":"당첨번호 (보너스번호 제외)"},"bonusNumber":{"type":"integer","example":21,"description":"보너스 추첨번호"},"firstWinningAmount":{"type":"integer","example":4576672000,"description":"1등 당첨금(원)"},"drawDate":{"type":"string","format":"date-time","example":"2025-06-21T20:00:00.000Z"},"createdAt":{"type":"string","format":"date-time","example":"2025-06-21T20:30:00.000Z"}}},"message":{"type":"string","example":"1150회차 당첨번호입니다."},"timestamp":{"type":"string","format":"date-time"}}}}}},"404":{"description":"해당 회차 당첨번호를 찾을 수 없음","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","example":false},"error":{"type":"string","example":"1150회차 당첨번호를 찾을 수 없습니다."},"timestamp":{"type":"string","format":"date-time"}}}}}},"429":{"description":"요청 한도 초과","headers":{"X-RateLimit-Limit":{"schema":{"type":"string","example":"60"},"description":"최대 허용 요청 수"},"X-RateLimit-Remaining":{"schema":{"type":"string","example":"0"},"description":"남은 요청 수"},"X-RateLimit-Reset":{"schema":{"type":"string","format":"date-time","example":"2025-06-24T00:00:00.000Z"},"description":"다음 요청 가능 시간"}},"content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","example":false},"error":{"type":"string","example":"데이터 조회 요청 한도를 초과했습니다."},"timestamp":{"type":"string","format":"date-time"}}}}}}}}},"/api/data/winning-numbers/recent":{"get":{"summary":"최근 당첨번호 목록 조회 (페이징)","description":"최근 당첨번호들을 페이징으로 조회","tags":["Data"],"parameters":[{"in":"query","name":"page","schema":{"type":"integer","minimum":1,"default":1},"description":"페이지 번호"},{"in":"query","name":"limit","schema":{"type":"integer","minimum":1,"maximum":50,"default":10},"description":"페이지 크기"}],"responses":{"200":{"description":"조회 성공","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","example":true},"data":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","example":"win_abc123"},"round":{"type":"integer","example":1150},"numbers":{"type":"array","items":{"type":"integer"},"example":[1,7,14,21,28,35],"description":"당첨번호 (보너스번호 제외)"},"bonusNumber":{"type":"integer","example":21,"description":"보너스 추첨번호"},"firstWinningAmount":{"type":"integer","example":4576672000,"description":"1등 당첨금(원)"},"drawDate":{"type":"string","format":"date-time","example":"2025-06-21T20:00:00.000Z"},"createdAt":{"type":"string","format":"date-time","example":"2025-06-21T20:30:00.000Z"}}}},"pagination":{"type":"object","properties":{"page":{"type":"integer","example":1,"description":"현재 페이지"},"limit":{"type":"integer","example":10,"description":"페이지 크기"},"total":{"type":"integer","example":1177,"description":"전체 데이터 수"},"totalPages":{"type":"integer","example":118,"description":"전체 페이지 수"}}},"message":{"type":"string","example":"최근 10개의 당첨번호입니다."},"timestamp":{"type":"string","format":"date-time"}}}}}},"429":{"description":"요청 한도 초과","headers":{"X-RateLimit-Limit":{"schema":{"type":"string","example":"60"},"description":"최대 허용 요청 수"},"X-RateLimit-Remaining":{"schema":{"type":"string","example":"0"},"description":"남은 요청 수"},"X-RateLimit-Reset":{"schema":{"type":"string","format":"date-time","example":"2025-06-24T00:00:00.000Z"},"description":"다음 요청 가능 시간"}},"content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","example":false},"error":{"type":"string","example":"데이터 조회 요청 한도를 초과했습니다."},"timestamp":{"type":"string","format":"date-time"}}}}}}}}},"/api/data/batch/fetch-latest-lotto":{"post":{"summary":"로또 최신번호 수동 조회 (배치)","description":"수동으로 최신 회차의 로또 당첨번호를 조회하여 DB에 저장합니다.","tags":["Data"],"responses":{"200":{"description":"조회 성공","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","example":true},"message":{"type":"string","example":"로또 최신번호 조회가 완료되었습니다."},"data":{"type":"object","properties":{"round":{"type":"integer","example":1178,"description":"조회된 회차"},"numbers":{"type":"array","items":{"type":"integer"},"example":[5,6,11,27,43,44],"description":"당첨번호"},"bonusNumber":{"type":"integer","example":17,"description":"보너스 번호"},"firstWinningAmount":{"type":"string","example":"2391608407","description":"1등 당첨금"},"drawDate":{"type":"string","format":"date-time","example":"2025-06-28T00:00:00.000Z","description":"추첨일"}}},"timestamp":{"type":"string","format":"date-time"}}}}}},"400":{"description":"조회 실패","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","example":false},"error":{"type":"string","example":"아직 당첨번호가 발표되지 않았습니다."},"timestamp":{"type":"string","format":"date-time"}}}}}},"429":{"description":"요청 한도 초과","headers":{"X-RateLimit-Limit":{"schema":{"type":"string","example":"60"},"description":"최대 허용 요청 수"},"X-RateLimit-Remaining":{"schema":{"type":"string","example":"0"},"description":"남은 요청 수"},"X-RateLimit-Reset":{"schema":{"type":"string","format":"date-time","example":"2025-06-24T00:00:00.000Z"},"description":"다음 요청 가능 시간"}},"content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","example":false},"error":{"type":"string","example":"데이터 조회 요청 한도를 초과했습니다."},"timestamp":{"type":"string","format":"date-time"}}}}}}}}},"/api/payment/order-register":{"post":{"operationId":"createOrder","summary":"주문 생성","description":"결제를 위한 주문을 생성합니다. 유료 추천의 경우 paramId를 포함해야 합니다.","tags":["Payment"],"security":[{"bearerAuth":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["amount"],"properties":{"amount":{"type":"integer","description":"결제 금액","example":10000},"paramId":{"type":"string","description":"추천 파라미터 ID (유료 추천의 경우 필수)","example":"param_abc123"},"currency":{"type":"string","description":"통화 코드","default":"KRW"},"description":{"type":"string","description":"주문 설명"},"metadata":{"type":"object","description":"추가 메타데이터"}}}}}},"responses":{"201":{"description":"주문 생성 성공","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","example":true},"data":{"type":"object","properties":{"order":{"type":"object","properties":{"id":{"type":"string","description":"주문 ID","example":"ord_abc123def456"},"merchantUid":{"type":"string","description":"가맹점 주문 ID","example":"merchant_20250801_123456"},"amount":{"type":"integer","description":"결제 금액","example":10000},"currency":{"type":"string","description":"통화 코드","example":"KRW"},"description":{"type":"string","description":"주문 설명","example":"프리미엄 로또 추천"},"status":{"type":"string","description":"주문 상태","example":"PENDING"},"orderName":{"type":"string","description":"주문명","example":"로또 추천 서비스"},"userId":{"type":"string","description":"사용자 ID"},"paramId":{"type":"string","description":"추천 파라미터 ID (있는 경우)","nullable":true},"createdAt":{"type":"string","format":"date-time","description":"생성 시간"},"user":{"type":"object","properties":{"id":{"type":"string"},"nickname":{"type":"string"}}}}}}},"message":{"type":"string","example":"주문이 생성되었습니다."}}}}}},"400":{"description":"잘못된 요청","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","example":false},"error":{"type":"string","example":"유효하지 않은 결제 금액입니다."},"message":{"type":"string","example":"결제 금액을 확인해주세요."}}}}}},"401":{"description":"인증 필요","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","example":false},"error":{"type":"string","example":"로그인이 필요합니다."},"message":{"type":"string","example":"다시 로그인해주세요."}}}}}}}}},"/api/payment/complete":{"post":{"operationId":"verifyPayment","summary":"결제 완료 처리 (V2)","description":"PortOne V2 결제를 검증하고 처리합니다.","tags":["Payment"],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["paymentId"],"properties":{"paymentId":{"type":"string","description":"PortOne V2 결제 ID","example":"payment_1234567890"}}}}}},"responses":{"200":{"description":"결제 검증 성공","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","example":true},"data":{"type":"object","properties":{"payment":{"type":"object","properties":{"id":{"type":"string"},"paymentId":{"type":"string"},"amount":{"type":"integer"},"status":{"type":"string","enum":["PENDING","COMPLETED","FAILED","CANCELLED","REFUNDED"]},"paidAt":{"type":"string","format":"date-time"}}}}},"message":{"type":"string","example":"결제가 성공적으로 처리되었습니다."}}}}}},"400":{"description":"결제 검증 실패"}}}},"/api/payment/webhooks/iamport":{"post":{"operationId":"handlePortOneWebhook","summary":"PortOne Webhook 처리","description":"PortOne에서 전송하는 결제 상태 변경 webhook을 처리합니다.","tags":["Payment"],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"imp_uid":{"type":"string","description":"PortOne 결제 고유번호"},"merchant_uid":{"type":"string","description":"주문 고유번호"},"status":{"type":"string","description":"결제 상태","enum":["paid","failed","cancelled"]}}}}}},"responses":{"200":{"description":"Webhook 처리 성공"},"400":{"description":"잘못된 요청"},"403":{"description":"허용되지 않은 IP"}}}},"/api/payment/status":{"put":{"operationId":"updatePaymentStatus","summary":"결제 상태 변경","description":"주문의 결제 상태를 변경합니다.","tags":["Payment"],"security":[{"bearerAuth":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["orderId","status"],"properties":{"orderId":{"type":"string","description":"주문 ID","example":"clx1234567890"},"status":{"type":"string","description":"변경할 상태","enum":["PENDING","PAID","FAILED","CANCELLED","USER_CANCELLED","REFUNDED"],"example":"USER_CANCELLED"},"reason":{"type":"string","description":"상태 변경 사유 (선택사항)","example":"사용자 요청으로 취소"}}}}}},"responses":{"200":{"description":"결제 상태 변경 성공","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","example":true},"data":{"type":"object","properties":{"order":{"type":"object","properties":{"id":{"type":"string"},"status":{"type":"string","enum":["PENDING","PAID","FAILED","CANCELLED","USER_CANCELLED","REFUNDED"]},"updatedAt":{"type":"string","format":"date-time"}}},"payment":{"type":"object","properties":{"id":{"type":"string"},"status":{"type":"string","enum":["PENDING","COMPLETED","FAILED","CANCELLED","USER_CANCELLED","REFUNDED"]},"updatedAt":{"type":"string","format":"date-time"}}}}},"message":{"type":"string","example":"결제 상태가 변경되었습니다."}}}}}},"400":{"description":"잘못된 요청"},"401":{"description":"인증 필요"},"403":{"description":"권한 없음"}}}},"/api/payment/orders/{id}":{"get":{"operationId":"getOrder","summary":"주문 조회","description":"특정 주문의 상세 정보를 조회합니다.","tags":["Payment"],"security":[{"bearerAuth":[]}],"parameters":[{"in":"path","name":"id","required":true,"schema":{"type":"string"},"description":"주문 ID"}],"responses":{"200":{"description":"주문 조회 성공","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","example":true},"data":{"type":"object","properties":{"order":{"type":"object","properties":{"id":{"type":"string"},"merchantUid":{"type":"string"},"amount":{"type":"integer"},"status":{"type":"string"},"payment":{"type":"object","nullable":true}}}}}}}}}},"401":{"description":"인증 필요"},"404":{"description":"주문을 찾을 수 없음"}}}},"/api/payment/orders":{"get":{"operationId":"getUserOrders","summary":"사용자 주문 목록 조회","description":"현재 로그인한 사용자의 주문 목록을 조회합니다.","tags":["Payment"],"security":[{"bearerAuth":[]}],"parameters":[{"in":"query","name":"page","schema":{"type":"integer","default":1},"description":"페이지 번호"},{"in":"query","name":"limit","schema":{"type":"integer","default":20},"description":"페이지당 항목 수"}],"responses":{"200":{"description":"주문 목록 조회 성공","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","example":true},"data":{"type":"object","properties":{"orders":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","description":"주문 ID","example":"cmdvy2xty000x4ogljiz7hoz6"},"userId":{"type":"string","description":"사용자 ID"},"merchantUid":{"type":"string","description":"가맹점 주문 ID","example":"AI645_1754241476037_A0733DC1"},"orderName":{"type":"string","description":"주문명","example":"5게임 프리미엄 추천"},"amount":{"type":"integer","description":"결제 금액","example":1000},"currency":{"type":"string","description":"통화 코드","example":"KRW"},"status":{"type":"string","description":"주문 상태 (결제 완료 여부 확인)","enum":["PENDING","PAID","FAILED","CANCELLED","USER_CANCELLED","REFUNDED"],"example":"PAID"},"description":{"type":"string","description":"주문 설명","example":"5게임 프리미엄 추천"},"metadata":{"type":"object","nullable":true,"description":"주문 메타데이터"},"paramId":{"type":"string","nullable":true,"description":"추천 파라미터 ID","example":"param_DfPOw4Zl"},"createdAt":{"type":"string","format":"date-time","description":"주문 생성 시간"},"updatedAt":{"type":"string","format":"date-time","description":"주문 수정 시간"},"payment":{"type":"object","nullable":true,"description":"결제 정보"},"recommendation":{"type":"object","nullable":true,"description":"추천번호 생성 여부 확인 (null이면 미생성, 객체면 생성 완료)","properties":{"id":{"type":"string","description":"추천 ID","example":"rec_abc123"},"numbers":{"type":"array","description":"생성된 추천번호","items":{"type":"array","items":{"type":"integer"}},"example":[[1,7,15,23,35,42],[3,9,18,27,33,44]]},"createdAt":{"type":"string","format":"date-time","description":"추천번호 생성 시간"}}}}}},"pagination":{"type":"object","properties":{"page":{"type":"integer","description":"현재 페이지","example":1},"limit":{"type":"integer","description":"페이지당 항목 수","example":20},"total":{"type":"integer","description":"전체 주문 수","example":17},"totalPages":{"type":"integer","description":"전체 페이지 수","example":1}}}}}}}}}},"401":{"description":"인증 필요"}}}},"/api/recommend/free":{"post":{"summary":"무료 번호 추천","description":"GPT-3.5-turbo를 사용한 로또 번호 추천 - 로그인 필요","tags":["Recommendations"],"security":[{"bearerAuth":[]}],"requestBody":{"required":false,"content":{"application/json":{"schema":{"type":"object","properties":{"gameCount":{"type":"integer","minimum":1,"maximum":5,"default":5,"description":"추천받을 게임수 (무료는 최대 5게임)"},"round":{"type":"integer","minimum":1,"maximum":9999,"description":"대상 회차"},"conditions":{"type":"object","properties":{"excludeNumbers":{"type":"array","items":{"type":"integer","minimum":1,"maximum":45},"maxItems":20,"description":"제외할 번호들"},"includeNumbers":{"type":"array","items":{"type":"integer","minimum":1,"maximum":45},"maxItems":6,"description":"포함할 번호들"},"preferences":{"type":"string","maxLength":500,"description":"사용자 선호사항"}}}}}}}},"responses":{"200":{"description":"추천 성공","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","example":true},"data":{"type":"object","properties":{"gameCount":{"type":"integer","example":5,"description":"생성된 게임수"},"numbers":{"type":"array","items":{"type":"array","items":{"type":"integer","minimum":1,"maximum":45},"minItems":6,"maxItems":6},"example":[[1,7,14,21,28,35],[3,12,19,26,33,40],[5,8,17,24,31,42]],"description":"추천된 번호 세트들"},"round":{"type":"integer","example":1150,"description":"대상 회차 (선택사항)"},"analysis":{"type":"string","example":"이번 추천은 최근 당첨 패턴과 사용자 선호도를 반영하여 생성되었습니다. 홀짝 비율과 구간 분포를 고려했습니다."}}},"message":{"type":"string","example":"무료 번호 추천이 완료되었습니다."},"timestamp":{"type":"string","format":"date-time"}}}}}},"400":{"description":"잘못된 요청","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","example":false},"error":{"type":"string","example":"게임수는 1-5 사이의 숫자여야 합니다."},"data":{"type":"object","properties":{"code":{"type":"string","example":"BUSINESS_LOGIC_ERROR"}}},"timestamp":{"type":"string","format":"date-time"}}}}}},"401":{"description":"인증 필요","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","example":false},"error":{"type":"string","example":"로그인이 필요합니다."},"message":{"type":"string","example":"무료 추천을 사용하려면 로그인이 필요합니다."},"timestamp":{"type":"string","format":"date-time"}}}}}},"429":{"description":"일일 요청 한도 초과 (IP별 하루 1회 제한)","headers":{"X-RateLimit-Limit":{"schema":{"type":"string","example":"60"},"description":"최대 허용 요청 수"},"X-RateLimit-Remaining":{"schema":{"type":"string","example":"0"},"description":"남은 요청 수"},"X-RateLimit-Reset":{"schema":{"type":"string","format":"date-time","example":"2025-06-24T00:00:00.000Z"},"description":"다음 요청 가능 시간"}},"content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","example":false},"error":{"type":"string","example":"일일 무료 추천 한도를 초과했습니다."},"message":{"type":"string","example":"무료 추천은 하루에 한 번만 가능합니다. 12시간 후에 다시 시도해주세요."},"data":{"type":"object","properties":{"nextAllowedTime":{"type":"string","format":"date-time","example":"2025-06-24T00:00:00.000Z"},"remainingHours":{"type":"integer","example":12}}},"timestamp":{"type":"string","format":"date-time","example":"2025-06-23T12:00:00.000Z"}}}}}},"500":{"description":"서버 오류","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/api/recommend/premium":{"post":{"summary":"프리미엄 번호 추천","description":"GPT-4o를 사용한 고급 로또 번호 추천 (이미지 지원) - 로그인 필요","tags":["Recommendations"],"security":[{"bearerAuth":[]}],"requestBody":{"required":false,"content":{"application/json":{"schema":{"type":"object","properties":{"gameCount":{"type":"integer","minimum":1,"maximum":10,"default":5,"description":"추천받을 게임수 (프리미엄은 최대 10게임)"},"round":{"type":"integer","minimum":1,"maximum":9999,"description":"대상 회차"},"conditions":{"type":"object","properties":{"excludeNumbers":{"type":"array","items":{"type":"integer","minimum":1,"maximum":45},"maxItems":20,"description":"제외할 번호들"},"includeNumbers":{"type":"array","items":{"type":"integer","minimum":1,"maximum":45},"maxItems":6,"description":"포함할 번호들"},"preferences":{"type":"string","maxLength":500,"description":"사용자 선호사항"}}}}}},"multipart/form-data":{"schema":{"type":"object","properties":{"image":{"type":"string","format":"binary","description":"로또 번호 이미지"},"data":{"type":"string","description":"JSON 형태의 요청 데이터 (gameCount 포함)"}}}}}},"responses":{"200":{"description":"추천 성공","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","example":true},"data":{"type":"object","properties":{"gameCount":{"type":"integer","example":7,"description":"생성된 게임수"},"numbers":{"type":"array","items":{"type":"array","items":{"type":"integer","minimum":1,"maximum":45},"minItems":6,"maxItems":6},"example":[[2,9,16,23,30,37],[4,11,18,25,32,39],[6,13,20,27,34,41]],"description":"추천된 번호 세트들"},"round":{"type":"integer","example":1150,"description":"대상 회차 (선택사항)"},"analysis":{"type":"string","example":"이번 추천은 최근 당첨 패턴과 사용자 선호도를 반영하여 생성되었습니다. 홀짝 비율과 구간 분포를 고려했습니다."}}},"message":{"type":"string","example":"프리미엄 번호 추천이 완료되었습니다."},"timestamp":{"type":"string","format":"date-time","example":"2025-06-23T07:45:28.502Z"}}}}}},"400":{"description":"잘못된 요청","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","example":false},"error":{"type":"string","example":"게임수는 1-10 사이의 숫자여야 합니다."},"data":{"type":"object","properties":{"code":{"type":"string","example":"BUSINESS_LOGIC_ERROR"}}},"timestamp":{"type":"string","format":"date-time"}}}}}},"401":{"description":"인증 필요","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","example":false},"error":{"type":"string","example":"로그인이 필요합니다."},"message":{"type":"string","example":"프리미엄 추천을 사용하려면 로그인이 필요합니다."},"timestamp":{"type":"string","format":"date-time"}}}}}},"429":{"description":"요청 한도 초과","headers":{"X-RateLimit-Limit":{"schema":{"type":"string","example":"60"},"description":"최대 허용 요청 수"},"X-RateLimit-Remaining":{"schema":{"type":"string","example":"0"},"description":"남은 요청 수"},"X-RateLimit-Reset":{"schema":{"type":"string","format":"date-time","example":"2025-06-24T00:00:00.000Z"},"description":"다음 요청 가능 시간"}},"content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","example":false},"error":{"type":"string","example":"프리미엄 추천 요청 한도를 초과했습니다."},"timestamp":{"type":"string","format":"date-time"}}}}}}}}},"/api/recommend/prepare":{"post":{"summary":"유료 추천 파라미터 준비","description":"결제 전에 추천 파라미터를 저장합니다","tags":["Recommendations"],"security":[{"bearerAuth":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"type":{"type":"string","enum":["PREMIUM"],"default":"PREMIUM"},"gameCount":{"type":"integer","minimum":1,"maximum":10,"default":5},"round":{"type":"integer","minimum":1,"maximum":9999},"conditions":{"type":"object","properties":{"excludeNumbers":{"type":"array","items":{"type":"integer","minimum":1,"maximum":45}},"includeNumbers":{"type":"array","items":{"type":"integer","minimum":1,"maximum":45}},"preferences":{"type":"string"}}}}}}}},"responses":{"200":{"description":"파라미터 저장 성공","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean"},"data":{"type":"object","properties":{"paramId":{"type":"string"},"type":{"type":"string"},"gameCount":{"type":"integer"},"expiresAt":{"type":"string","format":"date-time"}}},"message":{"type":"string"}}}}}},"401":{"description":"인증 필요"}}}},"/api/recommend/generate-from-order/{orderId}":{"post":{"summary":"결제 완료 후 추천번호 생성","description":"결제가 완료된 주문으로부터 추천번호를 생성합니다","tags":["Recommendations"],"security":[{"bearerAuth":[]}],"parameters":[{"in":"path","name":"orderId","required":true,"schema":{"type":"string"},"description":"주문 ID"}],"responses":{"200":{"description":"추천번호 생성 성공","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean"},"data":{"type":"object","properties":{"gameCount":{"type":"integer"},"numbers":{"type":"array","items":{"type":"array","items":{"type":"integer"}}},"round":{"type":"integer"},"analysis":{"type":"string"}}},"message":{"type":"string"}}}}}},"401":{"description":"인증 필요"},"404":{"description":"주문을 찾을 수 없음"}}}},"/api/recommend/regenerate/{orderId}":{"post":{"summary":"추천번호 재생성","description":"결제 완료된 주문의 추천번호를 재생성합니다","tags":["Recommendations"],"security":[{"bearerAuth":[]}],"parameters":[{"in":"path","name":"orderId","required":true,"schema":{"type":"string"},"description":"주문 ID"}],"responses":{"200":{"description":"추천번호 재생성 성공","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean"},"data":{"type":"object","properties":{"gameCount":{"type":"integer"},"numbers":{"type":"array","items":{"type":"array","items":{"type":"integer"}}},"round":{"type":"integer"},"analysis":{"type":"string"}}},"message":{"type":"string"}}}}}},"401":{"description":"인증 필요"},"404":{"description":"주문을 찾을 수 없음"}}}},"/api/image/extract":{"post":{"summary":"이미지에서 번호 추출","description":"GPT-4o Vision을 사용하여 이미지에서 로또 번호 추출","tags":["Image Processing"],"requestBody":{"required":true,"content":{"multipart/form-data":{"schema":{"type":"object","required":["image"],"properties":{"image":{"type":"string","format":"binary","description":"로또 번호가 포함된 이미지"}}}}}},"responses":{"200":{"description":"추출 성공","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","example":true},"data":{"type":"object","properties":{"numbers":{"type":"array","items":{"type":"integer","minimum":1,"maximum":45},"example":[1,7,14,21,28,35],"description":"추출된 번호들"},"confidence":{"type":"number","minimum":0,"maximum":100,"example":85,"description":"추출 신뢰도 (%)"},"extractedText":{"type":"string","example":"로또 번호: 1, 7, 14, 21, 28, 35","description":"이미지에서 추출된 텍스트"},"notes":{"type":"string","example":"6개의 번호가 높은 신뢰도로 추출되었습니다.","description":"추출 과정에 대한 메모"}}},"message":{"type":"string","example":"이미지에서 번호 추출이 완료되었습니다."},"timestamp":{"type":"string","format":"date-time","example":"2025-06-23T07:45:28.502Z"}}}}}},"400":{"description":"잘못된 요청 또는 이미지 형식","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","example":false},"error":{"type":"string","example":"지원하지 않는 이미지 형식입니다. JPEG, PNG, WebP만 가능합니다."},"data":{"type":"object","properties":{"code":{"type":"string","example":"IMAGE_PROCESSING_ERROR"}}},"timestamp":{"type":"string","format":"date-time"}}}}}},"429":{"description":"요청 한도 초과","headers":{"X-RateLimit-Limit":{"schema":{"type":"string","example":"60"},"description":"최대 허용 요청 수"},"X-RateLimit-Remaining":{"schema":{"type":"string","example":"0"},"description":"남은 요청 수"},"X-RateLimit-Reset":{"schema":{"type":"string","format":"date-time","example":"2025-06-24T00:00:00.000Z"},"description":"다음 요청 가능 시간"}},"content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","example":false},"error":{"type":"string","example":"이미지 분석 요청 한도를 초과했습니다."},"timestamp":{"type":"string","format":"date-time"}}}}}}}}},"/api/review/generate":{"post":{"summary":"회고 분석 생성","description":"추천 결과와 당첨번호를 비교하여 AI 회고 분석 생성","tags":["Reviews"],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["recommendationId","winningNumbers"],"properties":{"recommendationId":{"type":"string","description":"분석할 추천의 ID"},"winningNumbers":{"type":"array","items":{"type":"integer","minimum":1,"maximum":45},"minItems":7,"maxItems":7,"description":"당첨번호 7개 (보너스번호 포함)"}}}}}},"responses":{"201":{"description":"회고 생성 성공","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","example":true},"data":{"type":"object","properties":{"id":{"type":"string","example":"review_abc123","description":"회고 ID"},"recommendationId":{"type":"string","example":"rec_xyz789","description":"분석된 추천 ID"},"winningNumbers":{"type":"array","items":{"type":"integer","minimum":1,"maximum":45},"minItems":7,"maxItems":7,"example":[1,7,14,21,28,35,42],"description":"당첨번호 (보너스번호 포함)"},"matchedCounts":{"type":"array","items":{"type":"integer","minimum":0,"maximum":6},"example":[3,2,4,1,0],"description":"각 세트별 일치 개수"},"reviewText":{"type":"string","example":"이번 추천에서는 3등 당첨이 1건 나왔습니다. 전체적으로 중간 구간 번호가 많이 일치했습니다...","description":"AI 생성 회고 분석 텍스트"},"analysisPrompt":{"type":"string","example":"추천 분석: PREMIUM 타입, GPT 모델: gpt-4o, 당첨번호: [1, 7, 14, 21, 28, 35, 42]","description":"분석에 사용된 프롬프트"},"createdAt":{"type":"string","format":"date-time","example":"2025-06-23T07:45:28.502Z","description":"생성 시간"}}},"message":{"type":"string","example":"회고 분석이 완료되었습니다."},"timestamp":{"type":"string","format":"date-time"}}}}}},"400":{"description":"잘못된 요청","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","example":false},"error":{"type":"string","example":"당첨번호는 7개(보너스번호 포함)여야 합니다."},"data":{"type":"object","properties":{"code":{"type":"string","example":"BUSINESS_LOGIC_ERROR"}}},"timestamp":{"type":"string","format":"date-time"}}}}}},"404":{"description":"추천을 찾을 수 없음","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","example":false},"error":{"type":"string","example":"추천 내역을 찾을 수 없습니다."},"data":{"type":"object","properties":{"code":{"type":"string","example":"NOT_FOUND"}}},"timestamp":{"type":"string","format":"date-time"}}}}}},"429":{"description":"요청 한도 초과","headers":{"X-RateLimit-Limit":{"schema":{"type":"string","example":"60"},"description":"최대 허용 요청 수"},"X-RateLimit-Remaining":{"schema":{"type":"string","example":"0"},"description":"남은 요청 수"},"X-RateLimit-Reset":{"schema":{"type":"string","format":"date-time","example":"2025-06-24T00:00:00.000Z"},"description":"다음 요청 가능 시간"}},"content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","example":false},"error":{"type":"string","example":"회고 생성 요청 한도를 초과했습니다."},"timestamp":{"type":"string","format":"date-time"}}}}}}}}},"/api/review/{id}":{"get":{"summary":"특정 회고 조회","description":"ID로 특정 회고 조회","tags":["Reviews"],"parameters":[{"in":"path","name":"id","required":true,"schema":{"type":"string"},"description":"회고 ID"}],"responses":{"200":{"description":"조회 성공","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","example":true},"data":{"type":"object","properties":{"id":{"type":"string","example":"review_abc123"},"recommendationId":{"type":"string","example":"rec_xyz789"},"winningNumbers":{"type":"array","items":{"type":"integer"},"example":[1,7,14,21,28,35,42]},"matchedCounts":{"type":"array","items":{"type":"integer"},"example":[3,2,4,1,0]},"reviewText":{"type":"string","example":"이번 추천에서는 3등 당첨이 1건 나왔습니다..."},"analysisPrompt":{"type":"string","example":"추천 분석: PREMIUM 타입..."},"createdAt":{"type":"string","format":"date-time","example":"2025-06-23T07:45:28.502Z"}}},"timestamp":{"type":"string","format":"date-time"}}}}}},"404":{"description":"회고를 찾을 수 없음","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","example":false},"error":{"type":"string","example":"회고를 찾을 수 없습니다."},"timestamp":{"type":"string","format":"date-time"}}}}}},"429":{"description":"요청 한도 초과","headers":{"X-RateLimit-Limit":{"schema":{"type":"string","example":"60"},"description":"최대 허용 요청 수"},"X-RateLimit-Remaining":{"schema":{"type":"string","example":"0"},"description":"남은 요청 수"},"X-RateLimit-Reset":{"schema":{"type":"string","format":"date-time","example":"2025-06-24T00:00:00.000Z"},"description":"다음 요청 가능 시간"}},"content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","example":false},"error":{"type":"string","example":"데이터 조회 요청 한도를 초과했습니다."},"timestamp":{"type":"string","format":"date-time"}}}}}}}}},"/api/review/recommendation/{recommendationId}":{"get":{"summary":"추천별 회고 목록 조회","description":"특정 추천에 대한 모든 회고 조회","tags":["Reviews"],"parameters":[{"in":"path","name":"recommendationId","required":true,"schema":{"type":"string"},"description":"추천 ID"}],"responses":{"200":{"description":"조회 성공","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","example":true},"data":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","example":"review_abc123"},"recommendationId":{"type":"string","example":"rec_xyz789"},"winningNumbers":{"type":"array","items":{"type":"integer"},"example":[1,7,14,21,28,35,42]},"matchedCounts":{"type":"array","items":{"type":"integer"},"example":[3,2,4,1,0]},"reviewText":{"type":"string","example":"이번 추천에서는 3등 당첨이 1건 나왔습니다..."},"analysisPrompt":{"type":"string","example":"추천 분석: PREMIUM 타입..."},"createdAt":{"type":"string","format":"date-time","example":"2025-06-23T07:45:28.502Z"}}}},"message":{"type":"string","example":"추천 ID rec_xyz789에 대한 회고 목록입니다."},"timestamp":{"type":"string","format":"date-time"}}}}}},"429":{"description":"요청 한도 초과","headers":{"X-RateLimit-Limit":{"schema":{"type":"string","example":"60"},"description":"최대 허용 요청 수"},"X-RateLimit-Remaining":{"schema":{"type":"string","example":"0"},"description":"남은 요청 수"},"X-RateLimit-Reset":{"schema":{"type":"string","format":"date-time","example":"2025-06-24T00:00:00.000Z"},"description":"다음 요청 가능 시간"}},"content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","example":false},"error":{"type":"string","example":"데이터 조회 요청 한도를 초과했습니다."},"timestamp":{"type":"string","format":"date-time"}}}}}}}}},"/api/review":{"get":{"summary":"회고 목록 조회 (페이지네이션)","description":"모든 회고를 페이지네이션으로 조회","tags":["Reviews"],"parameters":[{"in":"query","name":"page","schema":{"type":"integer","minimum":1,"default":1},"description":"페이지 번호"},{"in":"query","name":"limit","schema":{"type":"integer","minimum":1,"maximum":100,"default":10},"description":"페이지 크기"}],"responses":{"200":{"description":"조회 성공","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","example":true},"data":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","example":"review_abc123"},"recommendationId":{"type":"string","example":"rec_xyz789"},"winningNumbers":{"type":"array","items":{"type":"integer"},"example":[1,7,14,21,28,35,42]},"matchedCounts":{"type":"array","items":{"type":"integer"},"example":[3,2,4,1,0]},"reviewText":{"type":"string","example":"이번 추천에서는 3등 당첨이 1건 나왔습니다..."},"analysisPrompt":{"type":"string","example":"추천 분석: PREMIUM 타입..."},"createdAt":{"type":"string","format":"date-time","example":"2025-06-23T07:45:28.502Z"}}}},"pagination":{"type":"object","properties":{"page":{"type":"integer","example":1},"limit":{"type":"integer","example":10},"total":{"type":"integer","example":25},"totalPages":{"type":"integer","example":3}}},"timestamp":{"type":"string","format":"date-time"}}}}}},"429":{"description":"요청 한도 초과","headers":{"X-RateLimit-Limit":{"schema":{"type":"string","example":"60"},"description":"최대 허용 요청 수"},"X-RateLimit-Remaining":{"schema":{"type":"string","example":"0"},"description":"남은 요청 수"},"X-RateLimit-Reset":{"schema":{"type":"string","format":"date-time","example":"2025-06-24T00:00:00.000Z"},"description":"다음 요청 가능 시간"}},"content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","example":false},"error":{"type":"string","example":"데이터 조회 요청 한도를 초과했습니다."},"timestamp":{"type":"string","format":"date-time"}}}}}}}}},"/api/review/recent":{"get":{"summary":"최근 회고 목록 조회","description":"최근 회고를 조회 (기본 10개)","tags":["Reviews"],"parameters":[{"in":"query","name":"limit","schema":{"type":"integer","minimum":1,"maximum":50,"default":10},"description":"조회할 개수"}],"responses":{"200":{"description":"조회 성공","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","example":true},"data":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","example":"review_abc123"},"recommendationId":{"type":"string","example":"rec_xyz789"},"winningNumbers":{"type":"array","items":{"type":"integer"},"example":[1,7,14,21,28,35,42]},"matchedCounts":{"type":"array","items":{"type":"integer"},"example":[3,2,4,1,0]},"reviewText":{"type":"string","example":"이번 추천에서는 3등 당첨이 1건 나왔습니다..."},"analysisPrompt":{"type":"string","example":"추천 분석: PREMIUM 타입..."},"createdAt":{"type":"string","format":"date-time","example":"2025-06-23T07:45:28.502Z"}}}},"message":{"type":"string","example":"최근 10개의 회고입니다."},"timestamp":{"type":"string","format":"date-time"}}}}}},"429":{"description":"요청 한도 초과","headers":{"X-RateLimit-Limit":{"schema":{"type":"string","example":"60"},"description":"최대 허용 요청 수"},"X-RateLimit-Remaining":{"schema":{"type":"string","example":"0"},"description":"남은 요청 수"},"X-RateLimit-Reset":{"schema":{"type":"string","format":"date-time","example":"2025-06-24T00:00:00.000Z"},"description":"다음 요청 가능 시간"}},"content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","example":false},"error":{"type":"string","example":"데이터 조회 요청 한도를 초과했습니다."},"timestamp":{"type":"string","format":"date-time"}}}}}}}}}}}